/*--------------------------------------------------------------------------------------------------------->
----------------------------------------------------------------------------------------------------------->
--------------------------------------------OVERVIEW START----------------------------------------------->*/
.indexHeader {
    background-color: #000324;
    color: white;
}

.navList {
    display: inline;
    text-align: center;
    margin-inline: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    justify-content: center;
    padding-top: 72px;
    color: white;
}

a:link {
    font-size: 20px;
    text-decoration: none;
}
.reserveButton {
    border: 2px solid #E5FEFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}

.header{
    background-image: url(/assets/hotelMarkupAssets/header.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
    background-position:center ;
    padding-top: 150px;
    width: 100%;
    height: 500px;
    margin-left: 400px;
    padding-left: 200px;
}

.headerOverlay {
    
   
    padding-top: 50px;
    background: #000324af;
    justify-content:center;
    text-align: center;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    align-items: center;
    padding-bottom: 50px;
      
    
    
    
}
/*------------------------------------------OVERVIEW END--------------------------------------------------->
----------------------------------------------------------------------------------------------------------->
--------------------------------------------OVERVIEW START----------------------------------------------->*/

.hamsterHome {
    background-image: url(/assets/hotelMarkupAssets/hamsterhomejpg.jpg);
    background-position:right ;
    background-repeat: no-repeat;
    width: 100%;
}
.hamsterHome2{
    background-image: url(/assets/hotelMarkupAssets/hamsterhomejpg.jpg);
    background-repeat: no-repeat;
    background-size:cover;    
    background-position: center ;
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
    
}

.awardListImage2{
    scale: 0.5;
    
   
}
.awardListImage{

}


.awardListGroup {
    margin: 0px;
    display: inline;
    
}

.overviewContent {
    padding: 150px;
    font-family: 'Dosis', sans-serif;
   
}

.overviewParagraph {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 20px;
    font-size: 16px;
    padding-right: 28px;
}

.awardList {
    display: inline;
    text-align: center;
    margin-top: 20px;
   margin-left: 20px;
}

.awardListSmall{
    list-style-type: none;
}



/*------------------------------------------------------Rooms page styling-------              */





/*-------------------------------------------------Rooms-------------------------------------------*/

.roomContent {
    background-image: url(../assets/hotelMarkupAssets/bg2.jpg);
    padding-bottom: 50px;
    margin-top: 200px;
    top: 1235px;
    left: 0px;
    height: 738px;
    width: 100%;
}

.roomText {
    color: white;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.cardList {
    font-size: x-small;
    text-align: left;
}



.cardStyle {
   /* background-position: right; */

    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #1A1B26;

}

.cardStyle2 {
    /* margin-left: 100px; */
    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;


}

.cardStyle3 {
    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #1A1B26;

    margin-left: 25px;

}

.blank {
    list-style: none;
    color: white;
}

.roomsContentSmall{
    background-image: url(/assets/hotelMarkupAssets/bg2.jpg);
    padding-bottom: 30px;

}
.roomHeadingSmall{
    text-align: center;
    color: white;
}








/*                          Packages Page Styling                       */

.packagesContent {
    margin-top: 100px;
}

.packagesImage {
    width: 100%;
    height: 250px;
    padding: 0px;

}

.packagesText {
    margin-left: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;

}

.packagesTitle {
    font: normal normal normal 25px/32px Dosis;
    font-size: 25px;
    margin-top: 2rem;
}

.packagesCost {
    font: normal normal normal 16px/20px Source Sans Pro;
    color: #1f51a8;

}

.amenetiesContentSmall{
    background-image: url(/assets/hotelMarkupAssets/bg.jpg);
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.amenetiesImageSmall{
    scale: 0.8;
}

.small{
    font-size: x-small;
}


/*                                                 AMENETIES */


.amenetiesContent {
    background-image: url(/assets/hotelMarkupAssets/bg.jpg);
    height: 548px;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 200px;
    padding-top: 40px;
    margin-bottom: 200px;
}

.amenetiesList {
    display: inline;
    padding: 70px;
    padding-top: 50px;
}

.amenetiesListWhole {
    flex-direction: row;
    margin-top: 100px;
}


.reserveHeader {
    background-color: #000324;
    color: white;
    width: 100%;
   
}
.newOne{
    padding: 100px !important;
}
.ReserveHeaderText {
    text-align: center;  
    width: 100%;
}

.reserveRow1 {
    font: normal normal normal 16px/20px Source Sans Pro;

}

.reserveRow2 {
    margin-right: 25px;
}

.reserveBoxes {

    width: 177px;
    height: 38px;
    background: #EBEDFC 0% 0% no-repeat padding-box;
    border: 1px solid #7A90D9;

}

.reserveBoxesAvailability {

    left: 1256px;
    width: 177px;
    height: 38px;
    background: #006EDB;
    border: 1px solid #000DC7;
    font: normal normal bold 20px/25px Source Sans Pro;

}

.HamsterReserveImage {
    width: 100%;
    height: 500px;
    background-image: url(/assets/hotelMarkupAssets/hamsterreserve.jpg);
    background-repeat: no-repeat;
    background-size:cover;    
    background-position:center ;
}

.reserveContentSmall{
    background-color: #000324;
    color: white;
    
}
.HamsterReserveImageSmall{
    width: 100%;
    height: 250px;
    background-image: url(/assets/hotelMarkupAssets/hamsterreserve.jpg);
    background-size: cover;
    background-position: center;
}

.reserveBoxesSmall{

    width: 140px;
    height: 25px;
    background: #EBEDFC 0% 0% no-repeat padding-box;
    border: 1px solid #7A90D9;

}
.reserveBoxesAvailabilitySmall {

    left: 1256px;
    width: 177px;
    height: 38px;
    background: #006EDB;
    border: 1px solid #000DC7;
    font: normal normal bold 20px/25px Source Sans Pro;
    text-align: center;

}
.reserveBoxMoveMovmentSmall{
    padding-top: 20px;
}


.footer {
    background-color: #000324;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 80px;
    margin-top: 200px;
}

